<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<style>
  .jumbotron{
    margin-bottom: 0px;
  }
</style>
<body>
  {% include "exam/navbar.html" %}
<br>
<section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
  <br><br><br>
  <div class="container text-center" style="background-color: bisque;">
    <br><br><br>
    <h2 class="display-3 text-info"><b>Online Quiz</b></h2>
    <p class="lead">Sign Up now to start your online quiz</p>
  
    <a href="/student/studentsignup" class="btn btn-lg btn-info" style="padding-right: 35px; border-radius: 0%;"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Sign Up as Student</a>
    
    <br><br><br>
    <br><br><br>
  </div>  
</section>
  {% include "exam/footer.html" %}


</body>

</html>
